*{
box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to top, #0a0000e6, rgba(14, 9, 9, 0.8)),
    url('https://assets.nflxext.com/ffe/siteui/vlv3/e178a4e7-4f52-4661-b2ae-41efa25dca7c/937435c1-c5b7-4cd1-bf62-62ba5d30ef47/NG-en-20210222-popsignuptwoweeks-perspective_alpha_website_small.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  width: 100vw;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}
/* header */
header {
  position: fixed;
  background: #0f0e0e;
  width: 100%;
  padding: 20px;
}

.span-title {
  font-size: 20px;
  margin-left: 40px;
  color: rgb(223, 30, 30);
  text-shadow: 0 4px 4px rgb(100, 86, 90);
  font-weight: 800;
  text-transform: uppercase;
}

.fa-video {
  font-size: 10px;
}

/* form */
.form{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
    min-height: 200px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 15px 50px rgba(0, 0, 0, 0.5);
    padding: 50px;
}

.form img{
    width: 70px;
    height: 100%;
    margin: 0 auto;
    display: block;
}

.form h2{
    color: rgb(17, 16, 16);
    padding: 0;
    margin: 0 0 20px;
   text-align: center;
}

.form .input-box{
    position: relative;
    margin: 20px 0;
}

.form .input-box input{
    width: 100%;
    font-size: 16px;
    border: none;
    border-bottom: 2px solid #777;
    outline: none;
    padding: 10px;
    padding-left: 25px;
    font-weight: bold;
    color: #777;
}

.hidden{
    visibility: hidden;
}

.form .input-box input:focus
{
    border-bottom: 2px solid rgb(223, 30, 30);
}

.form .input-box .fas{
    position: absolute;
    top: 8px;
    left: 0;
    font-size: 18px;
    color: #777;
}


.form .input-box .submit{
    border: none;
    border-radius: 20px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
    transition: 0.5s;
    background-color: rgb(12, 4, 4);
    cursor: pointer;
    margin-top: 10px;
    width: 100%;
    height: 40px;
    color: #fff;
    font-size: 1rem;
    letter-spacing: 0.3em;
    outline: none;
}

.form .input-box .submit:hover{
    background-color: rgb(223, 30, 30);
}


.form .forgot{
    text-decoration: none;
    color: #777;
    margin-top: 20px;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    display: block;
    transition: 0.5s;
}

.form a:hover{
    color: rgb(223, 30, 30);
}


/* footer */
